<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <link rel="stylesheet" href="styles.css" />
    <title>Voice GPT</title>
  </head>
  <body>
    <section>
      <h1>AI Voice-Bot</h1>
      <h2>Powered by socket</h2>
      
    
      <button><i class="fa"></i></button>

      <div>
        <p>You said: <em class="output-you"></em></p>
        <p>Bot replied: <em class="output-bot"></em></p>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>